<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0 maximum-scale=1.0, user-scalable=0">
    <title>VibeShare</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-zinc-900">
    <div class="w-full min-h-screen bg-zinc-900 text-white p-10">

<div class="postCreation py-2">
    <h5 class="text-gray-500 py-3">Update your post</h5>
    <form method="post" action="/update/<%= post._id %>">
<textarea placeholder="what's on your mind ?" class="w-[50vw] p-3 resize-none bg-transparent border-2 border-zinc-800 rounded-md" name="content"><%= post.content %></textarea>
<input class="px-3 py-2 bg-yellow-500 block rounded-md mt-2 text-sm text-black" type="submit" value="Update post">
    </form>
</div>
</div>
    
</body>
</html>