<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VibeShare</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body class="bg-zinc-900">
    <div class="w-full min-h-screen bg-zinc-900 text-white p-4 flex justify-between flex-col">
<div class="ue fixed top-0 left-0 right-0 h-[6vh] w-full bg-blue-500  p-2 flex justify-between">
    <h3>Username</h3>
    <a href="/home" class="pr-4">Exit</a>
</div>
<div class="w-full "><div class="messages mt-3 flex flex-col  gap-4 w-full  overflow-y-scroll">
    
                <div class="message mb-1 w-[70vw]  p-3 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                    <h4 class="text-blue-500 mb-3">@username</h4>
                    <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                    
                            </div>

                            <div class="message mb-1 w-[70vw]  p-4 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                <h4 class="text-blue-500 mb-3">@username</h4>
                                <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                                
                                        </div>

                                        <div class="message mb-1 w-[70vw]
                                        p-4 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                            <h4 class="text-blue-500 mb-3">@username</h4>
                                            <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                                            
                                                    </div>

                                                    <div class="message mb-1 w-[70vw] p-4 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                                        <h4 class="text-blue-500 mb-3">@username</h4>
                                                        <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                                                        
                                                                </div>

                                                                <div class="message mb-1 w-[70vw] p-4 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                                                    <h4 class="text-blue-500 mb-3">@username</h4>
                                                                    <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                                                                    
                                                                            </div>

                                                                            <div class="message mb-1 w-[70vw] p-4 border-[1px] flex flex-col justify-between border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                                                                <h4 class="text-blue-500 mb-3">@username</h4>
                                                                                <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> friend message</p>
                                                                                
                                                                                        </div>




                            <div class="message mb-1 w-[70vw] p-4 border-[1px] flex flex-col  justify-between
                            ml-auto border-zinc-700 bg-zinc-800 rounded-md overflow-hidden whitespace-normal">
                                <h4 class="text-blue-500 mb-3">@myusername</h4>
                                <p class="text-sm text-gray-400 tracking-tight overflow-hidden "> my message</p>
                                
                                        </div>
          
    </div>
    <div class="messageCreation ">
        <form method="post" action="/message" class="flex justify-between gap-2 ">
            <textarea placeholder="what's on your mind ?" class="w-[80vw] p-3 resize-none bg-transparent border-2 border-zinc-800 rounded-xl" name="content"></textarea>
            <input class="px-3 py-2 bg-blue-500 block rounded-xl mt-2 text-sm text-black" type="submit" value="Send Message">
                </form>
    </div></div>

</div>
   
</body>
</html>